.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.layout {
    position: relative;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
    width: clamp(180px, 22%, 255px);
    row-gap: 47px;
    padding: 25px 25px 25px 10px;
    border-right: 1px solid var(--separator-color);
}

.sidebar-open-btn {
    display: none;
    position: fixed;
    left: 15px;
    top: 20px;
    padding: 0;
    background: none;
    border: none;
    z-index: 15;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.sidebar-open-btn:hover,
.sidebar-open-btn:active {
    opacity: 0.8;
}

.sidebar-open-btn img {
    pointer-events: none;
}

.sidebar-open-btn .avatar {
    display: block;
    margin: 0;
}

.sidebar-open-btn::after {
    content: attr(data-count);
    position: absolute;
    top: -5px;
    right: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 3px;
    border-radius: 50%;
    background-color: var(--primary-color);
    font-size: 12px;
    font-weight: 600;
    color: var(--text-light-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar {
    width: 90px;
    height: 90px;
    margin-bottom: 21px;
    border-radius: 50%;
}

.avatar:hover,
.avatar:active {
    opacity: 0.8;
}

.client-name {
    margin: 0;
    margin-bottom: 7px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.client-email {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #9EA1B1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    margin-bottom: auto;
}

.link {
    position: relative;
    display: flex;
    gap: 10px;
    padding-left: 37px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 23px;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-color);
}

.active {
    color: var(--primary-color);
}

.menu-icon {
    background-image: url('/menu-icon.svg');
}

.cart-icon {
    background-image: url('/cart-icon.svg');
}

.exit {
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.content-box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 39px 60px;
    gap: 45px;
}

.cart-count {
    position: absolute;
    top: 0;
    right: -27px;
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 3px;
    border-radius: 50%;
    background-color: var(--primary-color);
    font-size: 12px;
    font-weight: 600;
    color: var(--text-light-color);
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media(max-width: 760px) {
    .sidebar {
        position: fixed;
        row-gap: 20px;
        z-index: 10;
        background-color: var(--background-color);
        transform: translateX(-110%);
        transition: transform 0.3s ease-in-out;
    }

    .open-sidebar {
        transform: translateX(0);
    }

    .content-box {
        padding: 40px 0;
    }

    .sidebar-open-btn {
        display: block;
    }

    .sidebar-open-btn--close {
        transform: translateX(-120%);
    }
}

@media(max-width: 450px) {
    .content-box {
        gap: 20px;
    }

    .sidebar {
        height: 100dvh;
    }
}

@media(max-height: 420px) {
    .avatar {
        display: none;
    }

    .menu {
        gap: 20px;
    }
}